*.suo
*.user
*.ncb
*.o
Release/
Debug/
.project
.pydevproject
.settings
.cproject

*.pdb
*.pch
*.obj
*.exe
*.dll
*.lib
*.htm
*.dep
*.css
*.xslt
*.XML
*.xml
*.manifest
*.idb
*.zip
*.pyc
